/* Main body styling */
body{
  margin: 0;
  background-color: steelblue;
}

header > div> h1{
  font-family: 'Lucida Sans', Geneva, Verdana;
  text-align: center;
  color: blanchedalmond;
  font-size: 60px;
  font-weight: bold;
}

/* Styling for the image contained within the page */

#imageContainer {
  text-align: center;
}

h2, h3{
  font-family: 'Lucida Sans', Geneva, Verdana;
  color: antiquewhite;
  font-size: 36px;
  padding-left: 10%;
  font-weight: bold
}

/*Styling for the paragraphs contained in the main body of the page */

main> div> article> section> p{
  font-family: 'Lucida Sans', Geneva, Verdana;
  font-size: 24px;
  font-weight: bold;
  color: beige;
  padding-left: 2%;
  padding-right: 2%;
}

ul, ol{
  font-family: 'Lucida Sans', Geneva, Verdana;
  font-size: 24px;
  color: beige;
  font-weight: bold;
}

hr{
  width: 50%;
  height: 75%;
}

a:link {
  color: beige
}

a:visited {
  color: white
}

footer{
  text-align: center;
}

/*Styling for the text contained within the footer */

footer> div> p{
  font-family: 'Lucida Sans', Geneva, Verdana;
  font-size: 24px;
  color: beige;
  font-weight: bold
}